@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* CSS Reset */

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

main h1 {
	text-align: center;
	background-color: coral;
	padding: 4px;
}

/* ----- HEADER ------ */

header {
	display: flex;
	justify-content: space-between;
	background-color: black;
	padding: 20px;
}
header a {
	color: white;
	text-decoration: none;
}

header nav li {
	display: inline;
	margin-left: 20px;
}

header nav li:hover {
	text-decoration: underline;
}

/* -------- Videos Page ------- */
.titulo-videos {
	text-align: center;
	padding: 20px 0;
}
.videos-flex-container {
	padding: 40px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.video-card-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.video-card {
	padding: 10px;
	margin-bottom: 10px;
	text-align: left;
	border-bottom: 1px solid grey;
}

main p {
	font-size: 20px;
	margin-top: 10px;
}

.video-card p {
	margin-top: 5px;
}

/* Page images */

.articles-flex-container {
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;
	display: flex;
	justify-content: center;
}

.main-image {
	margin-right: 100px;
}

.main-image img {
	width: 340px;
}

.secondary-images div {
	margin-bottom: 20px;
}

.secondary-images img {
	width: 200px;
}

.article-card {
	border: 1px solid grey;
	display: flex;
	flex-direction: column;
}

.article-card img {
	align-self: center;
	padding: 10px;
}

.article-card p {
	background-color: black;
	color: white;
	padding: 10px;
}

/* ---- Gallery Page ---- */

.gallery-flex-container {
	display: flex;
	flex-wrap: wrap;
	padding: 30px 0;
	justify-content: center;
	gap: 20px;
}

.img-card img {
	max-width: 350px;
}
